/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

body {
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	color: #373A39;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1190px;
	padding: 0 10px;
	margin: 0 auto;
}

.title {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 75px;
	letter-spacing: -1.65px;
	color: #242121;
	padding-bottom: 18px;
	position: relative;
	align-self: flex-start;
}

.title::after {
	content: "";
	position: absolute;
	width: 60px;
	height: 4px;
	background: #FCBB08;
	left: 0px;
	bottom: 0px;
}

.header__top-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 29px;
}

.header--menu {
	padding-top: 25px;
}

.menu__list {
	display: flex;
}

.menu__list-item+.menu__list-item {
	margin-left: 36px;
}

.menu__list-link {
	padding: 0 7px 9px;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	line-height: 14px;
	letter-spacing: 0.6px;
	color: #373A39;
	text-transform: uppercase;
	transition: all 0.3s;
}

.menu__list-link:hover {
	border-bottom: 1px solid #FCBB08;
}

.header-content {
	background-image: url(../images/header-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.header-content__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	min-height: calc(100vh - 93px);
}

.header__title {
	font-weight: 500;
	font-size: 72px;
	line-height: 88px;
	color: #FFFFFF;
	margin-top: auto;
	margin-bottom: 19px;
	padding-top: 130px;

}

.header__subtitle {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2.74286px;
	color: #FCBB08;
	margin-bottom: auto;
}

.header__icon {
	margin-bottom: 62px;
}

.about {
	background-color: #F6F8FA;
	padding: 152px 0 135px;
}

.about__inner {
	display: flex;
	justify-content: space-between;
}

.about__title {
	font-size: 48px;
}

.about__text p {
	max-width:  770px;
	margin-bottom: 24px;
}