/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #373A39;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: -1.65px;
    color: #242121;
    padding-bottom: 18px;
    position: relative;
    align-self: flex-start;
}

.title::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background: #FCBB08;
    left: 0px;
    bottom: 0px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.header--menu {
    padding-top: 19px;
}

.menu__btn {
    display: none;
}

.menu__list {
    display: flex;
}

.menu__list-item+.menu__list-item {
    margin-left: 36px;
}

.menu__list-link {
    padding: 0 7px 9px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 14px;
    letter-spacing: 0.6px;
    color: #373A39;
    text-transform: uppercase;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
}

.menu__list-link:hover {
    border-bottom: 1px solid #FCBB08;
}

.header__content {
    background-image: url(../images/header/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header__content__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    min-height: calc(100vh - 93px);
}

.header__title {
    font-weight: 500;
    font-size: 72px;
    line-height: 88px;
    color: #FFFFFF;
    margin-top: auto;
    margin-bottom: 19px;
    padding-top: 130px;
}

.header__subtitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.74286px;
    color: #FCBB08;
    margin-bottom: auto;
}

.header__icon {
    margin-bottom: 62px;
}

.about {
    background-color: #F6F8FA;
    padding: 152px 0 135px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

.about__title {
    font-size: 48px;
}

.about__text p {
    max-width: 770px;
    margin-bottom: 24px;
}

.expertise {
    padding: 140px 0 160px;
}

.expertise__title {
    margin-bottom: 90px;
}

.expertise__inner {
    display: flex;
    margin-bottom: 110px;
}

.expertise__info {
    width: 370px;
    margin-top: 10px;
    margin-right: 30px;
    flex: none;
}

.expertise__info-item {
    padding: 2px 0 28px;
    border-top: 2px solid #1D1D1D;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #1D1D1D;
    position: relative;
}

.expertise__info-item span {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 7px;
}

.expertise__info-item span::before {
    content: "";
    background-color: #F0F0F0;
    position: absolute;
    top: -2px;
    right: 0;
    height: 2px;
    width: 100%;
    margin-right: -7px;
}

.expertise__text p {
    margin-bottom: 25px;
}

.expertise__items {
    display: flex;
    justify-content: space-between;
}

.expertise__item {
    width: 370px;
    padding-left: 85px;
    position: relative;
}

.expertise__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

.expertise__item--design::before {
    background-image: url(../images/expertise/desin-icon.svg);
}

.expertise__item--dev::before {
    background-image: url(../images/expertise/monitor-icon.svg);
}

.expertise__item--marketing::before {
    background-image: url(../images/expertise/speaker-icon.svg);
}

.expertise__item-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 4.2875px;
    color: #333333;
    margin-bottom: 15px;
}

.expertise__item-text {
    color: #777777;
}

.magic {
    background-color: #F6F8FA;
    background-image: url(../images/magic/magic-bg.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left bottom 25%;
}

.magic__inner {
    max-width: 470px;
    margin-left: auto;
    padding: 100px 0 190px;
}

.magic__title {
    margin-bottom: 67px;
}

.magic__text p {
    margin-bottom: 25px;
}

.portfolio {
    padding: 139px 0 198px;
}

.portfolio__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.portfolio__filter-btn {
    margin-right: 65px;
}

.portfolio__btn {
    padding: 0 4px 5px;
    background-color: transparent;
    border: none;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #333;
    text-transform: uppercase;
}

.mixitup-control-active {
    border-bottom: 1px solid #FCBB08;
}

.portfolio__btn+.portfolio__btn {
    margin-left: 25px;
}

.portfolio__content {
    column-count: 4;
    column-gap: 22px;
    margin-bottom: 72px;
}

.portfolio__item {
    margin-top: 22px;
    position: relative;
}

.portfolio__item-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #4C4949;
    border: 12px solid #666363;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .3s;
}

.portfolio__item:hover .portfolio__item-link {
    opacity: 1;
}

.portfolio__item:first-child {
    margin-top: 0;
}

.portfolio__item img {
    width: 100%;
}

.portfolio__add {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1.2px;
    color: #242121;
    background-color: #F6F8FA;
    padding: 41px 15px;
    text-transform: uppercase;
    text-align: center;
}

.blockquote {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    color: #242121;
    max-width: 650px;
    margin: 130px auto 148px;
    text-align: center;
}

.blockquote__autor {
    display: block;
    font-size: 14px;
    line-height: 32px;
    color: #9E9E9E;
    padding-top: 51px;
}

.portfolio__video {
    background-image: url(../images/portfolio/video.jpg);
    height: 324px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 165px;
}

.portfolio__numbers {
    display: flex;
    justify-content: space-around;
}

.portfolio__numbers-item {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #242121;
}

.portfolio__numbers-item span {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    margin-top: 9px;
}

.slider-blog {
    background-color: #F8F6FA;
    padding: 115px 0;
}

.slider-blog__item {
    padding: 190px 0;
}

.slider-blog__item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    color: #242121;
    max-width: 675px;
    margin-bottom: 10px;
    display: inline-block;
}

.slider-blog__item-descr {
    max-width: 600px;
}

.slick-dots {
    display: flex;
}

.slick-dots li+li {
    margin-left: 13px;
}

.slick-dots button {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #242121;
    opacity: 0.4;
    padding: 0;
    border: none;
    font-size: 0;
}

.slick-dots .slick-active button {
    width: 10px;
    height: 10px;
    opacity: 1;
    transform: translateY(-2px);
}

.slick-prev,
.slick-next {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-150%);
}

.slick-prev {
    left: -95px;
}

.slick-next {
    right: -95px;
}

.team {
    padding: 120px 0 130px;
}

.team__title {
    margin-bottom: 100px;
}

.team__items {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.team__item {}

.team__name {
    padding: 35px 0 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #333333;
}

.team__position {
    font-size: 12px;
    line-height: 16px;
}

.pricing {
    padding: 145px 0 160px;
    background-color: #F6F8FA;
}

.pricing__title {
    margin-bottom: 90px;
}

.pricing__items {
    display: flex;
    justify-content: space-between;
}

ul.pricing__item {
    background-color: #fff;
    text-align: center;
    padding: 24px 25px 53px;
    width: 370px;
}

.pricing__item li {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #242121;
    margin-bottom: 30px;
}

.pricing__item .pricing__item-name {
    font-weight: 700;
    text-align: left;
    margin-bottom: 8px;
}

.pricing__item .pricing__item-num {
    font-size: 80px;
    line-height: 109px;
    margin-bottom: 50px;
}

.pricing__item-num sup {
    font-size: 40px;
    line-height: 54px;
}

.pricing__item-link {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #242121;
    margin-top: 70px;
}

.clients {
    padding: 70px 0 90px;
}

.clients__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connection {
    padding: 145px 0 160px;
    background-image: url(../images/map.jpg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: right 65%;
}

.connection__title {
    margin-bottom: 80px;
}

.form {
    max-width: 570px;
}

.form input,
.form textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #373A39;
    padding: 16px 0;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
}

.form input::placeholder,
.form textarea::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 3.70909px;
    color: #B8B8B8;
}

.form textarea {
    min-height: 140px;
    resize: none;
    margin-top: 50px;
}

.form button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFF;
    padding: 17px 70px 15px;
    background-color: #242121;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}


.footer {}

.footer__top {
    background-color: #333333;
    padding: 110px 10px 60px;
    text-align: center;

}

.footer__logo {
    display: inline-block;
    padding: 0 35px 4px;
    border-bottom: 2px solid #FCBB08;
    margin-bottom: 70px;
}

ul.footer__social {
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
}

.footer__social-list {
    padding: 0 15px;
}

.footer__social-link {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 4px;
    color: #FFFFFF;

}

.footer__contact {
    font-size: 14px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 57px;
}

.footer__contact a {
    display: block;
    margin: 10px 0;
    color: #FFF;
}


.go-top {
    display: inline-block;
}

.footer__copy {
    background-color: #2A2C2B;
    padding: 40px 10px;
    text-align: center;
    font-family: Open Sans;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #CCC;
}

@media (min-width: 1445px) {

    .magic {
        background-position: left top 80%;
    }
}


@media (max-width: 1400px) {
    .magic__inner {
        padding: 50px 0;

    }

    .magic {
        background-position: left bottom;
    }
}

@media (max-width: 1200px) {

    .about,
    .expertise,
    .portfolio {
        padding: 75px 0;
    }

    .about__inner {
        display: block;
    }

    .about__title,
    .expertise__title,
    .magic__title,
     {
        margin-bottom: 50px;
    }

    .about__text p {
        max-width: 100%;
    }

    .title {
        font-size: 48px;
        line-height: 65px;
    }

    .portfolio__filter-btn {
        margin-right: 0;
    }

    .portfolio__top {
        margin-bottom: 50px;
    }

}

@media (max-width: 992px) {
    .expertise__inner {
        display: block;
        margin-bottom: 75px;
    }

    .expertise__info {
        width: 100%;
        margin-right: 0;
    }

    .expertise__items {
        display: block;
    }

    .expertise__item {
        width: 100%;
        margin-bottom: 40px;
    }

    .magic {
        background-image: none;
    }

    .magic__inner {
        max-width: 100%;
        margin-left: 0;
    }

    .portfolio__content {
        column-count: 3;
        margin-bottom: 40px;
    }

    .portfolio__top {
        display: block;
    }

    .portfolio__filter-btn {
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    .header__top-inner path .header__top-inner rect {
        transition: all 0.5s;
    }

    .header__top-inner.header__top-inner--active .menu__list {
        transform: translateY(0%);
    }

    .header__top-inner.header__top-inner--active path {
        fill: white;
    }

    .header__top-inner.header__top-inner--active .menu__btn rect {
        fill: white;
    }

    .menu__list {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        display: block;
        text-align: center;
        background: rgb(6, 3, 6);
        background: -moz-linear-gradient(180deg, rgba(6, 3, 6, 1) 0%, rgba(64, 29, 62, 1) 35%);
        background: -webkit-linear-gradient(180deg, rgba(6, 3, 6, 1) 0%, rgba(64, 29, 62, 1) 35%);
        background: linear-gradient(180deg, rgba(6, 3, 6, 1) 0%, rgba(64, 29, 62, 1) 35%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#060306", endColorstr="#401d3e", GradientType=1);
        transform: translateY(-200%);
        transition: all .5s;
    }

    .menu__list-link {
        display: block;
        padding: 15px 0;
        color: #fff;
    }

    ul.menu__list {
        padding: 90px 0 15px;
    }

    .menu__list-item+.menu__list-item {
        margin-left: 0px;
    }

    .logo {
        position: relative;
        z-index: 2;
    }

    .menu__btn {
        display: block;
        position: relative;
        z-index: 2;
        background-color: transparent;
        border: none;
        padding: 0;
    }

    .header__title {
        font-size: 50px;
        line-height: 65px;
        margin-bottom: 10px;
    }

    .header__subtitle {
        font-size: 14px;
        line-height: 16px;
    }

    .title {
        font-size: 48px;
        line-height: 60px;
    }

    .portfolio__content {
        column-count: 2;
    }

    .portfolio__btn {
        display: block;
        margin-bottom: 30px;
    }
    .portfolio__btn  +   .portfolio__btn {
        margin-left: 0;
    }
    .portfolio__add{
        margin-bottom: 40px;
    }
    .blockquote {
        margin-bottom: 40px;
        padding: 0 10px;
    }
    .portfolio__video {
        margin-bottom: 75px;
    }

    .portfolio__numbers {
        flex-wrap: wrap;
    }

    .portfolio__numbers-item {
        width: 50%;
        margin-bottom: 40px;
    }

}

@media (max-width: 440px) {

    .about,
    .expertise {
        padding: 50px 0;
    }

    .header__title {
        font-size: 36px;
        line-height: 44px;
    }

    .header__subtitle {
        font-size: 12px;
        line-height: 14px;
    }

    .about__title,
    .title {
        font-size: 28px;
        line-height: 42px;
    }

    .portfolio__numbers-item {
        width: 100%;
            }
}

@media (max-width: 340px) {
    .expertise__item {
        padding-left: 0;
        padding-top: 60px;
    }

}